# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Conda
.env/
env/
venv/
matchmaking/

# Data
data/raw/
data/processed/
dataset_csv/

# Models (on exclut tout sauf le modèle de prod)
artifacts/
src/models/lgbm_final.pkl

# Data (trop lourd)
src/data/

# Logs
logs/
*.log

# OS
.DS_Store
Thumbs.db